<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Create New Payroll
    </p>
    <p class="subtitle">
      It's now always fun and games even when calulcating payrolls with QUICK-ROLL
    </p>
  </div>
</section>
<% if params[:errors] %>
  Errors
<% end %>
<%= render "form" %>
